//----- Typography

html {
	font-size: $font-size-base;
	height: 100%;
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: $ff-main;
	font-weight: $fw-medium;
	-webkit-font-smoothing: antialiased;
	height: 100%;

	::selection {
		background: $c-brand-senary;
	}
	&.overflow{
		overflow:hidden;
	}
}

main {
	overflow: hidden;
	margin-top: 6rem;
	@include breakpoint(overPhone) {
		margin-top: 8rem;
	}
    
}

h1,
h2,
h3,
h4,
h5,
h6 {font-weight: $fw-regular; font-family: $ff-secondary;}

p {}

a {
	
}

button,
input,
select,
option,
textarea {
	font-family: inherit !important;
	font-size: inherit;
	-webkit-appearance: none;
	border-radius: 0;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
}

input[type=button] {
	-webkit-appearance: none;
}

input,
textarea,
button,
select,
label,
a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-webkit-input-placeholder { /* Edge */
	color: $c-brand-quarter;
	text-transform: uppercase;
	font-size:1.3rem;
	letter-spacing: 0.15em;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: $c-brand-quarter;
	text-transform: uppercase;
	font-size:1.3rem;
	letter-spacing: 0.15em;
  }
  
  ::placeholder {
	color: $c-brand-quarter;
	text-transform: uppercase;
	font-size:1.3rem;
	letter-spacing: 0.15em;
  }
 
