.swiper-container {
	width: 100%;
	height: 100%;
    overflow: unset !important
  }

.swiper-slide {
	display: flex !important;
	justify-content: space-between;
	align-items: center;
    @include breakpoint(phone){
        justify-content: center;
    }

}

.slider-2,
.slider-3 {
    .swiper-slide {
        opacity: 0 !important;
        flex-wrap: wrap;
     }
}

.swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
    display: inline-block;
    opacity: 1 !important;
    border: 2px solid #0a175c;
	background: transparent !important;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #0a175c !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 8px !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px !important;
}
.slider-2,
.slider-3 {
    .swiper-slide-active{
        opacity: 1 !important;
    }
}
.slider-2{
    margin-bottom: 6rem;
    @include breakpoint(overPhone) {
        margin-bottom: 8rem;
    }
    .swiper-pagination {
        position: relative;
        margin-top: 0rem;
        bottom:0 !important;
    }
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: '→' !important;
    color: #0a175c;
    font-family: -webkit-pictograph !important;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: '←' !important;
    color: #0a175c;
    font-family: -webkit-pictograph !important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 120px !important;

}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 120px !important;

}

.swiper-button-next, .swiper-button-prev {
    top: auto !important;
    bottom: 50px !important;
    cursor: default !important;
}
.slider-1 {

    .swiper-wrapper {
        @include breakpoint(desktop) {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 4rem 10rem;
        margin-top: 4.5rem;
        align-items: center;
    }
    @include breakpoint(tablet) {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 4rem 4rem;
        margin-top: 4.5rem;
        align-items: center;
    }
    @include breakpoint(phone) {
        align-items: center;
        display: flex;
    }
}
    .swiper-slide {
        justify-content: center;

    }
    

}
.slider-3{
    .swiper-wrapper {
    margin-bottom: 5rem;
    @include breakpoint(phone) {
        margin-bottom: 5rem;
    }
}
.swiper-pagination{
    position:unset;
}
}
@include breakpoint(overPhone) {
    .swiper-button-prev,
    .swiper-button-next {
        /* swiper is disabled at this breakpoint */
        display: none !important;
    }
}
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
    outline: none;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 0 !important;
    transform: none !important;
    white-space: nowrap;
    width: 105px !important;
    right: 0;
    margin: 0 auto;
}
.slider-3{
    .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0px 4px !important;
    }
}
