.c-paragraph {
    color: $c-brand-primary;
    &-size {
        &--primary {
            font-size: 1.6rem;
            line-height: 2.3rem;
        }
        &--secondary {
            font-size: 1.8rem;
            line-height: 2.5rem;
        }
        &--tertiary {
            font-size: 1.4rem;
            line-height: 2.4rem;
        }
    }
}
