.c-widget {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-bottom: 5rem;
    @include breakpoint(overPhone) {
        flex-direction: row;
        margin-bottom: 8rem;
    }
    &:nth-child(odd) {
        flex-direction: column;
        @include breakpoint(overPhone) {
            flex-direction: row-reverse;
        }
        .c-widget__content {
            @include breakpoint(overPhone) {
                left: 0;
                right: 0;
                position: absolute;
            }
        }
    }
    &__content {
        background: #e9e9e9;
        border-radius: 10px;
        padding: 2rem;
        max-width: 28.5rem;
        margin-top: -2rem;

        @include breakpoint(desktop) {
            padding: 5rem;
            position: absolute;
            right: 0rem;
            max-width: 56rem;
        }
        @include breakpoint(tablet) {
            padding: 5rem;
            position: absolute;
            right: 0rem;
            max-width: 35rem;
        }
        h3 {
            padding-bottom: 2.5rem;
            margin-bottom: 2.5rem;
            position: relative;
            @include breakpoint(overPhone) {
                padding-bottom: 3rem;
                margin-bottom: 3rem;
            }
            &:after {
                position: absolute;
                content: "";
                width: 4.2rem;
                height: 3px;
                background: #7e64e3;
                left: 0;
                bottom: 0;
            }
        }
    }
}
