.p-404{
    .b-header{
        background: #ECECEC;
    
    }
    .b-header.active {
        background: #fff;
    }
    .c-btn-wrapper{
        justify-content: center;
        margin-top: 4.5rem;
        @include breakpoint(overPhone) {
            margin-top:8rem;
        }
    }

}