.p-about-us{
    .b-hero__block--left {
        padding-right: 0%;
        @include breakpoint(overPhone){
            padding-right: 15%;
        }
    }
    .b-difference{
        &__dots{
            &__red{
                top: 52%;
            }
        }
    }
    .b-reviews{
    
        &__body {
            h2{
                max-width: 67rem;
            }
        }
        &__dots {
            right: 30px;
            top: 50px;
            @include breakpoint(overPhone) {
                position: absolute;
                left: 30px;
                top: 0;
                right:unset;
            }
        }
        .c-review__client {
            margin: 0 auto;
            margin-bottom: 5rem;
            max-width: 25rem;
            @include breakpoint(overPhone) {
                max-width: 34rem;
                margin-bottom: 0rem;
                margin: unset;
            }
        }
        
        .c-swiper__wrapper {
            margin-bottom: 0rem;
        }
        .slider-3 .swiper-wrapper {
            margin-bottom: 6rem;
            @include breakpoint(overPhone) {
                margin-bottom: 5rem;
            }
            .swiper-slide {
                display: block !important;
            }
        }
    }
    .b-join-us{
        background: #fff;

        &__wrapper{
            max-width: 72rem;
            margin: 0 auto;
        }
    }
    .c-review{
        &__wrapper{
        
        
            &--content {
               
             .c-wysiwyg-editor p {
                margin-bottom: 1rem;
                font-size: 1.5rem;
                line-height: 2.6rem;
                }
            
        }
    }
    &__client img {
        height: 28rem;
        max-width: 25.5rem;
        @include breakpoint(overPhone) {
            height: 38rem;
            max-width: 34rem;
        }
    }
    }
}