//----- Page / Contact
.p-contact {

   .b-footer{
    border-top: 2px solid #0A175C;
   }
   .b-header{
       background: $c-white;
   }

   .b-contact-us__wrapper.l--content{
       max-width: 650px;
   }
   .c-dropdown-header {
       @include breakpoint(desktop){ background: #ECECEC;}
   
}
.c-nav-header__item--with-dropdown:hover {
    @include breakpoint(desktop){ background: #ECECEC;}
}
}
