//----- Page / Contact
.p-faq{

   .b-header{
       background: $c-white;
   }
   .c-dropdown-header {
    background: #ECECEC;
}
    .b-faq{
        &__dots {
            position: absolute;
            display: block;
            top: 5%;
            svg{
                max-width: 4.8rem;
            }
            @include breakpoint(overPhone) {
                svg{
                    max-width: 7rem;
                }
                top: 20%;
            }
        }
        &__rectangle {
            position: absolute;
            right: 0%;
            top: -100px;
            z-index: -1;
            transform: scaleY(-1);
            
            svg{
                max-width:11rem;
            }
            @include breakpoint(desktop) {
                right: -5px;
                top: 25%;
                transform: rotate(0deg);
                svg{
                    max-width:100%;
                }
            }
            @include breakpoint(tablet) {
                right: -120px;
                top: 25%;
                transform: rotate(0deg);
                svg{
                    max-width:100%;
                }
            }
    }

}
.c-nav-header__item--with-dropdown:hover {
    @include breakpoint(desktop){ background: #ECECEC;}
}
}
