//----- Page / Home
.p-home {
      .mobile{
        display:block;
        @include breakpoint(overPhone) {
          display:none;
      }
      }
      .desktop{
        display:none;
        @include breakpoint(overPhone) {
          display:grid;
      }
      }
      .b-hero{
        padding-bottom:5rem;

        &__dots {
          position: absolute;
          top: 40%;
          left:40px;
          svg {
              max-width: 4.8rem;
          }
          @include breakpoint(overPhone) {
            top: 15%;
            left: 50%;
            svg {
                max-width: 100%;}
            }
            }
            &__image{
              
              &--second{
                  position: absolute;
                  top: 190px;
                  left: 25px;
                  @include breakpoint(tablet) {
                      top: 150px;
                      left: -50px;
                  }
                  @include breakpoint(desktop) {
                      top: 300px;
                      left: 25px;
                  }
                  img{
                      max-width:10.2rem;
      
                      @include breakpoint(overPhone) {
                          max-width: 17rem;
                      }
                  }
              }
              
          }
          &__rectangle {
            position: absolute;
            right: 0;
            top: 50%;
            svg {
                max-width: 12rem;
            }
            @include breakpoint(overPhone) {
                right: 0;
                top: 25%;
                svg {
                    max-width: 100%;}
                }
            }
            .c-swiper__wrapper {
                margin-bottom: 6rem;
                @include breakpoint(overPhone) {
                    margin-bottom: 0rem;
                }
            }
      }
      
        .b-faq{
            @include breakpoint(phone) {
                padding-bottom:12rem;
            }
        }
        .b-stories{
            padding-bottom:6rem;
            @include breakpoint(overPhone) {
                padding-bottom: 12rem;
            }
            .c-btn-wrapper {
                justify-content: center;
                margin-top: 5rem;
            }
        }
        
}
