.p-industry-single{

    .b-hero{
        &__block{
            &--left{
                width: 50%;
                padding-right: 10%;
                @include breakpoint(phone) {
                    width: 100%;
                    padding-right: 0%;
                
                }             
            }
        }
    }
    .b-why-us{
    &__body{

        p{
            max-width: 70rem;
        }
        
        }
    }
    .b-quiz{
        background: #fff;
    }
    .b-approach{
        overflow: hidden;
        @include breakpoint(overPhone){
            padding-bottom: 12rem;
            padding-top: 12rem;
        }
        &__rectangle{
            display: block;
            bottom: -30px;
            position: absolute;
            right:0;
            @include breakpoint(overPhone){
            bottom: -2px;
            right: 0;
            left: 30%;
            }
        }
        &__content{
            &--left{
                
                p{  
                    color: $c-brand-primary;
                    margin-top: 0rem;
                    @include breakpoint(desktop){
                        margin-top: 0rem;
                    }
                }
            }
        
        }
       
    }
    .b-faq{
        padding-bottom: 12rem;
    }
    
}