.p-pricing{
    .b-hero{
        padding-bottom:4rem;
        padding-top:4rem;
        @include breakpoint(overPhone){
            padding-top: 2rem;
            padding-bottom: 5rem;
        }
        &__dots{ 
            top: 52%;
            left:20px;
            @include breakpoint(overPhone){
                top: 40%;
                left: 60%;
            }
                
        }
        &__block{
            &--right{
                display: none;
            }
        }
        &__rectangle{
            position: absolute;
                right: 0;
                top: 5%;
            @include breakpoint(overPhone){
                top: 10%;
            }
        }
    }
    .b-approach {
        @include breakpoint(overPhone){
            padding-bottom: 12rem;
            padding-top: 12rem;
        }
        &__dots {
            position: absolute;
            display: none;
            @include breakpoint(overPhone){
                left: 38%;
                top: 55%;
                display: block;
            }
        }
        &__rectangle{
            display: block;
            position: absolute;
            right: -10%;
            top: 25%;
            -webkit-transform: rotate(-80deg) scaleX(-1);
            -ms-transform: rotate(-80deg) scaleX(-1);
            transform: rotate(-80deg) scaleX(-1);
            @include breakpoint(overPhone){
                left: 12%;
                transform:unset;
                right: unset;
                bottom:0;
                top: unset;
            }
        }
        &__content {
            &--left{
                p{
                    margin-top:0;
                    font-size: 2.8rem;
                    line-height: 4.4rem;
                    color: #0A175C;
                    text-align: left;
                }
                @include breakpoint(overPhone){
                    padding-right: 10%;
                }
                
            }
            &--right {
                p{
                    margin-bottom:3rem;
                }
                .c-btn-wrapper{
                    margin-top:5.5rem;
                }   
            }
         
        }
    }
}