.p-service-single{

    .b-tabs{
        padding-bottom: 14rem;
        @include breakpoint(overPhone){
            padding-bottom: 12.5rem;
        }
        .tabs {
            padding-bottom: 1rem;
        }
        .c-btn-wrapper{
            justify-content: center;
            margin-top: 6rem;
        }
        &__wrapper {

            .tabs {
    
                a.active{
    
                    &:after{
                        width: 100%;
                        top: 56px;
                        right: -1px;
                    }
                }
            }
        }

        .c-title-size--faq{
            font-size: 1.8rem;
            @include breakpoint(overPhone) {
                font-size: 2.1rem;
            }
        }
        .c-subtext-wrapper .c-wysiwyg-editor p, .c-subtext-wrapper .c-wysiwyg-editor span{
            font-size: 1.8rem;
            line-height:3rem;
        }
    }
    .b-why-us{
        &__body {
            p {
                max-width: 70rem;
                margin: 0 auto;
            }
        } 
    
    }
    .b-tech{
        .c-subtext-wrapper{
            margin-top:4rem;
            @include breakpoint(overPhone) {
                margin-top:2.5rem;
            }
        }
    }
    .b-faq{
        padding-bottom: 12rem;
    }
}