.p-single-job{
    
    .b-footer{
        border-top: 2px solid #0A175C;
       }
    .b-header{
        background: $c-white;
    }
    .c-dropdown-header {
        @include breakpoint(desktop){ background: #ECECEC;}
     }
     .c-nav-header__item--with-dropdown:hover {
        @include breakpoint(desktop){ background: #ECECEC;}
    }
}