//----- Variables / Typography

//----- Font weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

//----- Font face
// @include fontFace (FontName, FontFileName, 700, italic);
@include fontFace (Poppins, Poppins-Bold, $fw-bold, normal, woff woff2);
@include fontFace (Poppins, Poppins-SemiBold, $fw-semibold, normal, woff woff2);
@include fontFace (Poppins, Poppins-Medium, $fw-medium, normal, woff woff2);
@include fontFace (Anton, Anton-Regular, $fw-regular, normal, woff woff2);

//----- Font family
$fontDefault: 'Poppins', Arial, sans-serif;
$ff-main: $fontDefault;

$fontsecondary: 'Anton', Arial, sans-serif;
$ff-secondary: $fontsecondary;

//----- Font size
$font-size-base: 10px;
