//----- Variables / Colors
$c-white: #fff;
$c-black: #000;
$c-error: #ff0012;

// brand
$c-brand-primary: #351741;
$c-brand-secondary: #7E64E3;
$c-brand-tertiary: #E9E9E9;
$c-brand-quarter: #FAFAFA;

