//----- Variables / Colors
$c-white: #fff;
$c-black: #000;
$c-error: #ff0012;

// brand
$c-brand-primary: #0A175C;
$c-brand-secondary: #556098;
$c-brand-tertiary: #89E0D1;
$c-brand-quarter: #FF5C5C;
$c-brand-senary: #FFDD65;

// button
$c-button-primary: #0A175C;
$c-button-primary-color:#fff;
$c-button-tertiary: transparent;
$c-button-tertiary-color: #0A175C;
