@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PublicSans-Bold.woff") format("woff"), url("../fonts/PublicSans-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "PublicSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/PublicSans-Light.woff") format("woff"), url("../fonts/PublicSans-Light.woff2") format("woff2"); }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a img {
  border: none;
  outline: none; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

html {
  font-size: 10px;
  height: 100%; }
  html.fixedScroll {
    overflow: hidden; }

body {
  font-family: "PublicSans", Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  height: 100%; }
  body ::selection {
    background: #351741; }
  body.overflow {
    overflow: hidden; }

main {
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

button,
input,
select,
option,
textarea {
  font-family: inherit !important;
  font-size: inherit;
  -webkit-appearance: none;
  border-radius: 0; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none; }

input[type="button"] {
  -webkit-appearance: none; }

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

::-webkit-input-placeholder {
  /* Edge */
  color: #351741;
  font-size: 1.8rem; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #351741;
  font-size: 1.8rem; }

::placeholder {
  color: #351741;
  font-size: 1.8rem; }

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); }
  @media (max-width: 767px) {
    .modal {
      padding-top: 0px; } }

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 65%;
  max-width: 1200px;
  height: 70%; }
  @media (max-width: 767px) {
    .modal-content {
      width: 90%;
      height: 40%; } }
  .modal-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* The Close Button */
.close {
  color: #0A175C;
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 32px;
  font-weight: normal;
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 99; }
  @media (min-width: 768px) {
    .close {
      top: 10px;
      right: -50px; } }

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer; }

.slider-reviews {
  max-width: 100rem; }

.c-review-slider {
  position: relative; }
  .c-review-slider .swiper-button-next:after,
  .c-review-slider .swiper-button-prev:after {
    font-size: 2.4rem; }
  .c-review-slider .swiper-button-prev,
  .c-review-slider .swiper-button-next {
    border: 1px solid #351741;
    color: #351741;
    border-radius: 100%;
    width: 5rem;
    height: 5rem; }
    @media (max-width: 1023px) {
      .c-review-slider .swiper-button-prev,
      .c-review-slider .swiper-button-next {
        display: none; } }
  .c-review-slider .swiper-pagination .swiper-pagination-bullet {
    width: 2rem;
    height: 2rem;
    border: 2px solid #959aa9; }
    @media (min-width: 1025px) {
      .c-review-slider .swiper-pagination .swiper-pagination-bullet {
        display: none; } }
    .c-review-slider .swiper-pagination .swiper-pagination-bullet:after {
      background: #351741;
      width: 1rem;
      height: 1rem; }
    .c-review-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
      border: 2px solid #351741; }
  .c-review-slider .swiper-pagination {
    margin-top: 4rem; }

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal; }

:root {
  --swiper-theme-color: #007aff; }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1; }

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap; }

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-container-pointer-events {
  touch-action: pan-y; }

.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height; }

.swiper-container-3d {
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; }

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none; }

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start; }

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory; }

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory; }

:root {
  --swiper-navigation-size: 44px; }

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color)); }

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto; }

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "prev"; }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto; }

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "next"; }

.swiper-button-next.swiper-button-white,
.swiper-button-prev.swiper-button-white {
  --swiper-navigation-color: #ffffff; }

.swiper-button-next.swiper-button-black,
.swiper-button-prev.swiper-button-black {
  --swiper-navigation-color: #000000; }

.swiper-button-lock {
  display: none; }

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 9; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color)); }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 0.2s transform, 0.2s top; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s left; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s right; }

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-white {
  --swiper-pagination-color: #ffffff; }

.swiper-pagination-black {
  --swiper-pagination-color: #000000; }

.swiper-pagination-lock {
  display: none; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-scrollbar-lock {
  display: none; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s infinite linear;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent; }

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff; }

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000; }

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next + .swiper-slide,
.swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0; }

.swiper-container-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px); }

.swiper-container-flip {
  overflow: visible; }

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-pagination {
  left: 0;
  right: 0;
  position: relative;
  margin-top: 6rem; }
  .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: transparent;
    opacity: 1;
    margin-right: 1.1rem;
    border: 1px solid white;
    position: relative; }
    .swiper-pagination .swiper-pagination-bullet-active:after {
      content: "";
      background: white;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .swiper-pagination .swiper-pagination-bullet:last-of-type {
      margin-right: 0; }

.l-content {
  max-width: 125.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    .l-content {
      padding-right: 2.75rem;
      padding-left: 2.75rem; } }

.c-title {
  color: #351741; }
  .c-title-size--primary {
    font-size: 3rem;
    line-height: 4rem; }
    @media (min-width: 768px) {
      .c-title-size--primary {
        font-size: 5.5rem;
        line-height: 6.5rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .c-title-size--primary {
        font-size: 4.5rem;
        line-height: 5.5rem; } }
  .c-title-size--secondary {
    font-size: 2rem;
    line-height: 3rem; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .c-title-size--secondary {
        font-size: 2.2rem;
        line-height: 3rem; } }
    @media (min-width: 1025px) {
      .c-title-size--secondary {
        font-size: 3.5rem;
        line-height: 4.1rem; } }
  .c-title-size--tertiary {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 300; }
    @media (min-width: 768px) {
      .c-title-size--tertiary {
        font-size: 2.3rem;
        line-height: 3.8rem; } }
  .c-title-spacing--primary {
    margin-bottom: 5rem; }
    @media (min-width: 768px) {
      .c-title-spacing--primary {
        margin-bottom: 10rem; } }
  .c-title-spacing--secondary {
    margin-bottom: 2.5rem; }
    @media (min-width: 768px) {
      .c-title-spacing--secondary {
        margin-bottom: 1.6rem; } }
  .c-title-spacing--tertiary {
    margin-bottom: 3.7rem; }
    @media (min-width: 768px) {
      .c-title-spacing--tertiary {
        margin-bottom: 0rem; } }

.c-paragraph {
  color: #351741; }
  .c-paragraph-size--primary, .c-widget-review__name {
    font-size: 1.6rem;
    line-height: 2.3rem; }
  .c-paragraph-size--secondary {
    font-size: 1.8rem;
    line-height: 2.5rem; }
  .c-paragraph-size--tertiary {
    font-size: 1.4rem;
    line-height: 2.4rem; }

.c-form {
  max-width: 23.6rem;
  width: 100%;
  height: 5rem; }
  @media (min-width: 768px) {
    .c-form {
      max-width: 37.6rem;
      display: flex; } }
  .c-form__flag {
    display: flex;
    max-width: 8.7rem;
    width: 100%;
    margin-right: 0.2rem;
    background: #E9E9E9;
    border-radius: 2.5rem 0px 0px 2.5rem;
    height: 5rem;
    align-items: center;
    padding-left: 1rem; }
    .c-form__flag .c-paragraph {
      margin-bottom: 0 !important;
      padding-right: 0rem !important; }
    .c-form__flag-media {
      padding-right: 1.2rem; }
  .c-form__container {
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 115px;
    margin-bottom: 2.5rem; }
    @media (min-width: 768px) {
      .c-form__container {
        justify-content: flex-start;
        min-height: unset;
        margin-bottom: 4rem; } }
  .c-form__tel {
    height: 100%;
    background: #e9e9e9;
    border: none;
    padding: 1.8rem 2rem;
    width: 100%;
    border-radius: 0px 2.5rem 2.5rem 0px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    outline: none; }
    @media (min-width: 768px) {
      .c-form__tel {
        border-radius: 0;
        max-width: 22.6rem; } }
  .c-form__submit {
    position: absolute;
    background: #7E64E3;
    border-radius: 2.5rem;
    width: 100%;
    max-width: 32.5rem;
    top: 6.5rem;
    height: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s; }
    .c-form__submit:hover {
      background-color: #9887d8; }
    @media (min-width: 768px) {
      .c-form__submit {
        top: 0rem;
        left: 15rem;
        max-width: 18rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .c-form__submit {
        position: relative;
        left: -2rem;
        font-size: 1.6rem;
        line-height: 2.3rem;
        max-width: 14rem; } }

.c-widget {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-bottom: 5rem; }
  @media (min-width: 768px) {
    .c-widget {
      flex-direction: row;
      margin-bottom: 8rem; } }
  .c-widget:nth-child(odd) {
    flex-direction: column; }
    @media (min-width: 768px) {
      .c-widget:nth-child(odd) {
        flex-direction: row-reverse; } }
    @media (min-width: 768px) {
      .c-widget:nth-child(odd) .c-widget__content {
        left: 0;
        right: 0;
        position: absolute; } }
  .c-widget__content {
    background: #e9e9e9;
    border-radius: 10px;
    padding: 2rem;
    max-width: 28.5rem;
    margin-top: -2rem; }
    @media (min-width: 1025px) {
      .c-widget__content {
        padding: 5rem;
        position: absolute;
        right: 0rem;
        max-width: 56rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .c-widget__content {
        padding: 5rem;
        position: absolute;
        right: 0rem;
        max-width: 35rem; } }
    .c-widget__content h3 {
      padding-bottom: 2.5rem;
      margin-bottom: 2.5rem;
      position: relative; }
      @media (min-width: 768px) {
        .c-widget__content h3 {
          padding-bottom: 3rem;
          margin-bottom: 3rem; } }
      .c-widget__content h3:after {
        position: absolute;
        content: "";
        width: 4.2rem;
        height: 3px;
        background: #7e64e3;
        left: 0;
        bottom: 0; }

.c-btn {
  width: 18rem;
  background-color: #7E64E3;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  border-radius: 2.5rem;
  padding: 1.25rem;
  transition: all .3s;
  cursor: pointer; }
  .c-btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
  .c-btn:hover {
    background-color: #9887d8; }

.c-widget-feature {
  max-width: 25rem;
  text-align: center;
  margin-bottom: 7rem; }
  @media (min-width: 768px) {
    .c-widget-feature {
      margin-right: 7rem;
      margin-bottom: 0;
      max-width: 32rem; } }
  .c-widget-feature:last-of-type {
    margin-right: 0;
    margin-bottom: 0; }

.c-widget-review {
  max-width: 33.5rem;
  background-color: #fff;
  padding: 3rem; }
  @media (min-width: 768px) {
    .c-widget-review {
      max-width: 30rem; } }
  .c-widget-review__media {
    max-width: 7.5rem;
    margin-bottom: 2rem; }
    .c-widget-review__media img {
      border-radius: 100%;
      width: 100%; }
    @media (min-width: 768px) {
      .c-widget-review__media {
        max-width: 7rem; } }
  .c-widget-review__stars {
    margin-bottom: 2rem; }
  .c-widget-review .c-paragraph {
    margin-bottom: 3rem; }
  .c-widget-review__name {
    font-weight: 700;
    color: #351741; }

.c-popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  background-color: #000000d1;
  height: 100%;
  transition: all 0.5s;
  top: -100vh; }
  @media (min-width: 768px) {
    .c-popup {
      display: flex;
      align-items: center; } }
  .c-popup.active {
    opacity: 1;
    z-index: 10;
    visibility: visible;
    top: 0;
    position: fixed;
    transition: all 0.5s;
    overflow: auto; }
  .c-popup__container {
    max-width: 83rem;
    margin: 0 auto;
    position: relative; }
  @media (min-width: 768px) {
    .c-popup .c-form__submit {
      max-width: 8.7rem;
      left: 12rem;
      position: absolute; } }
  .c-popup .b-hero {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem; }
    .c-popup .b-hero__body {
      align-items: center; }
    .c-popup .b-hero--left-column {
      width: 100%; }
      @media (min-width: 768px) {
        .c-popup .b-hero--left-column {
          width: 68%; } }
    .c-popup .b-hero--right-column {
      padding-top: 0rem;
      width: 100%;
      padding-left: 0; }
      @media (min-width: 768px) {
        .c-popup .b-hero--right-column {
          width: 32%; } }
    .c-popup .b-hero__media {
      max-width: 27rem;
      margin: 0 auto; }
      .c-popup .b-hero__media-stripe svg {
        top: 0; }
        @media (max-width: 767px) {
          .c-popup .b-hero__media-stripe svg:first-child {
            width: 43.1rem;
            height: 21.4rem;
            bottom: 16rem; } }
        @media (max-width: 767px) {
          .c-popup .b-hero__media-stripe svg:last-child {
            width: 38.7rem;
            height: 27.7rem;
            bottom: 10rem; } }
  .c-popup__close {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s; }
    @media (min-width: 768px) {
      .c-popup__close {
        right: 1.5rem;
        top: 1.5rem; } }

.b-hero {
  background-color: #fff;
  padding-top: 5.1rem;
  padding-bottom: 3.5rem; }
  @media (min-width: 768px) {
    .b-hero {
      padding-top: 9rem;
      padding-bottom: 6rem; } }
  .b-hero__logo {
    margin-bottom: 3.5rem; }
  .b-hero__body {
    display: block;
    position: relative;
    z-index: 10; }
    @media (min-width: 768px) {
      .b-hero__body {
        display: flex; } }
  .b-hero .c-paragraph {
    margin-bottom: 4rem; }
    @media (min-width: 768px) {
      .b-hero .c-paragraph {
        margin-bottom: 4.8rem;
        padding-right: 12rem; } }
  .b-hero__bonus {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .b-hero__bonus {
        justify-content: flex-start;
        padding-left: 1rem; } }
    .b-hero__bonus .c-paragraph {
      margin-bottom: 0; }
    .b-hero__bonus-media {
      margin-right: 0.8rem; }
  .b-hero--left-column {
    margin-bottom: 3rem; }
    @media (min-width: 768px) {
      .b-hero--left-column {
        margin-bottom: 0;
        width: 50%; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .b-hero--left-column {
        margin-bottom: 0;
        width: 60%; } }
  @media (min-width: 768px) {
    .b-hero--right-column {
      padding-top: 2.4rem;
      width: 50%;
      padding-left: 3rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .b-hero--right-column {
      padding-top: 2.4rem;
      width: 40%;
      padding-left: 3rem; } }
  .b-hero__media {
    max-width: 49.6rem;
    margin: 0 auto; }
    .b-hero__media-stripe svg {
      position: absolute;
      right: 0rem;
      bottom: -8.5rem; }
      @media (min-width: 768px) {
        .b-hero__media-stripe svg {
          top: 0;
          bottom: 0; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        .b-hero__media-stripe svg {
          top: -20rem;
          bottom: 0; } }
      @media (max-width: 767px) {
        .b-hero__media-stripe svg:first-child {
          width: 59.3rem;
          height: 32.8rem; } }
      @media (max-width: 767px) {
        .b-hero__media-stripe svg:last-child {
          width: 40.8rem;
          height: 38rem; } }

.b-clients {
  background-color: #fff;
  padding-top: 3.5rem;
  padding-bottom: 4.5rem;
  text-align: center; }
  @media (min-width: 768px) {
    .b-clients {
      padding-top: 4rem;
      padding-bottom: 8rem; } }
  .b-clients__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem; }
    @media (min-width: 768px) {
      .b-clients__container {
        grid-template-columns: repeat(4, 1fr);
        gap: 0rem 5rem;
        margin-left: 11rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .b-clients__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem 5rem;
        margin-left: 8rem; } }
  .b-clients__media {
    margin: 0 auto; }
  .b-clients__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100rem;
    padding: 0; }
    @media (min-width: 768px) {
      .b-clients__body {
        flex-direction: row; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .b-clients__body {
        justify-content: center; } }

.b-key-features {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #FAFAFA;
  background: url("../images/features-bg.png"), #FAFAFA;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 100vh;
  position: relative; }
  @media (min-width: 1025px) {
    .b-key-features {
      padding-top: 10rem;
      padding-bottom: 10rem;
      background-position-y: 80%; } }
  .b-key-features__media {
    max-width: 70rem; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .b-key-features__media {
        max-width: 65rem; } }
  .b-key-features h2 {
    text-align: center;
    max-width: 70rem;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .b-key-features__body {
    position: relative;
    z-index: 10; }
  .b-key-features__media-stripe {
    display: none; }
    @media (min-width: 768px) {
      .b-key-features__media-stripe {
        display: block; } }
    .b-key-features__media-stripe svg {
      position: absolute;
      bottom: -8rem; }
      .b-key-features__media-stripe svg:last-of-type {
        bottom: -12.5rem; }
    .b-key-features__media-stripe.mob {
      display: none; }
      .b-key-features__media-stripe.mob svg {
        top: 57.5%; }
        .b-key-features__media-stripe.mob svg:last-of-type {
          top: 58%; }
      @media (max-width: 767px) {
        .b-key-features__media-stripe.mob {
          display: block; } }

.b-features {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  @media (min-width: 1025px) {
    .b-features {
      padding-top: 10rem;
      padding-bottom: 10rem; } }
  .b-features__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 768px) {
      .b-features__body {
        flex-direction: row; } }
  .b-features__media img {
    margin: 0 auto;
    margin-bottom: 3rem; }
    @media (min-width: 768px) {
      .b-features__media img {
        margin-bottom: 4rem; } }

.b-reviews {
  background-color: #FAFAFA;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  @media (min-width: 1025px) {
    .b-reviews {
      padding-top: 10rem;
      padding-bottom: 10rem; } }
  .b-reviews h2 {
    text-align: center;
    max-width: 60rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem; }
    @media (min-width: 768px) {
      .b-reviews h2 {
        margin-bottom: 10rem; } }
  .b-reviews__media {
    max-width: 120rem; }
    .b-reviews__media img {
      border-radius: 1rem;
      width: 100%; }
    .b-reviews__media-container {
      position: relative;
      margin-bottom: 7rem; }
      @media (min-width: 768px) {
        .b-reviews__media-container {
          margin-bottom: 10rem; } }
      .b-reviews__media-container h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 40rem;
        width: 60%;
        text-align: center;
        color: #fff; }

.b-cta {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #fff;
  position: relative; }
  @media (min-width: 1025px) {
    .b-cta {
      padding-top: 9rem;
      padding-bottom: 9rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .b-cta {
      padding-top: 5rem;
      padding-bottom: 0rem; } }
  .b-cta .c-paragraph {
    margin-bottom: 4rem; }
    @media (min-width: 768px) {
      .b-cta .c-paragraph {
        margin-bottom: 4.8rem;
        padding-right: 12rem; } }
  .b-cta__bonus {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .b-cta__bonus {
        justify-content: flex-start;
        padding-left: 1rem; } }
    .b-cta__bonus .c-paragraph {
      margin-bottom: 0; }
    .b-cta__bonus-media {
      margin-right: 0.8rem; }
  .b-cta__body {
    display: block;
    position: relative;
    z-index: 10; }
    @media (min-width: 768px) {
      .b-cta__body {
        display: flex; } }
  .b-cta .b-hero--right-column .b-hero__media {
    max-width: 22.2rem; }
    @media (min-width: 768px) {
      .b-cta .b-hero--right-column .b-hero__media {
        max-width: 51.2rem; } }
    .b-cta .b-hero--right-column .b-hero__media-stripe svg {
      position: absolute;
      right: 0rem;
      bottom: -3.5rem; }
      @media (min-width: 768px) {
        .b-cta .b-hero--right-column .b-hero__media-stripe svg {
          top: 0;
          bottom: 0; } }
      @media (max-width: 767px) {
        .b-cta .b-hero--right-column .b-hero__media-stripe svg:first-child {
          width: 53rem;
          height: 19rem; } }
      @media (max-width: 767px) {
        .b-cta .b-hero--right-column .b-hero__media-stripe svg:last-child {
          width: 42.9rem;
          height: 21.2rem; } }
  @media (min-width: 1025px) {
    .b-cta .b-hero--right-column {
      position: absolute;
      top: -18.5rem;
      right: 0;
      padding: 0; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .b-cta .b-hero--right-column {
      position: absolute;
      right: 0;
      padding: 0;
      bottom: 0; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .b-cta .b-hero--left-column {
      padding-bottom: 5rem; } }
  .b-cta .b-hero__media-stripe svg {
    position: absolute;
    right: 0rem;
    bottom: 9.5rem; }
    @media (min-width: 1025px) {
      .b-cta .b-hero__media-stripe svg {
        top: 0;
        bottom: 0; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .b-cta .b-hero__media-stripe svg {
        top: -20rem;
        bottom: 0; } }
    @media (max-width: 767px) {
      .b-cta .b-hero__media-stripe svg:first-child {
        width: 53rem;
        height: 19rem; } }
    @media (max-width: 767px) {
      .b-cta .b-hero__media-stripe svg:last-child {
        width: 42.9rem;
        height: 21.2rem; } }

.b-footer {
  background-color: #351741;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .b-footer .c-paragraph a {
    color: #fff;
    margin-bottom: 4rem;
    display: block; }
    @media (min-width: 768px) {
      .b-footer .c-paragraph a {
        margin-right: 5rem;
        margin-bottom: 0rem; } }
    .b-footer .c-paragraph a:hover {
      text-decoration: underline; }
  .b-footer .c-paragraph:last-of-type {
    margin-left: auto;
    color: #bebebe;
    margin-right: 0rem;
    margin-top: 3rem; }
    @media (min-width: 768px) {
      .b-footer .c-paragraph:last-of-type {
        margin-top: 0rem; } }
  .b-footer__body {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .b-footer__body {
        flex-direction: row; } }
  .b-footer__logo {
    margin-bottom: 4rem; }
    @media (min-width: 768px) {
      .b-footer__logo {
        margin-right: 5.3rem;
        margin-bottom: 0rem; } }
