.b-hero {
    background-color: $c-white;
    padding-top: 5.1rem;
    padding-bottom: 3.5rem;
    @include breakpoint(overPhone) {
        padding-top: 9rem;
        padding-bottom: 6rem;
    }
    &__logo {
        margin-bottom: 3.5rem;
    }
    &__body {
        display: block;
        position: relative;
        z-index: 10;
        @include breakpoint(overPhone) {
            display: flex;
        }
    }
    .c-paragraph {
        margin-bottom: 4rem;
        @include breakpoint(overPhone) {
            margin-bottom: 4.8rem;
            padding-right: 12rem;
        }
    }
    &__bonus {
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(overPhone) {
            justify-content: flex-start;
            padding-left: 1rem;
        }
        .c-paragraph {
            margin-bottom: 0;
        }
        &-media {
            margin-right: 0.8rem;
        }
    }
    &--left-column {
        margin-bottom: 3rem;
        @include breakpoint(overPhone) {
            margin-bottom: 0;
            width: 50%;
        }
        @include breakpoint(tablet) {
            margin-bottom: 0;
            width: 60%;
        }
    }
    &--right-column {
        @include breakpoint(overPhone) {
            padding-top: 2.4rem;
            width: 50%;
            padding-left: 3rem;
        }
        @include breakpoint(tablet) {
            padding-top: 2.4rem;
            width: 40%;
            padding-left: 3rem;
        }
    }
    &__media {
        max-width: 49.6rem;
        margin: 0 auto;
        &-stripe {
            svg {
                position: absolute;
                right: 0rem;
                bottom: -8.5rem;
                @include breakpoint(overPhone) {
                    top: 0;
                    bottom: 0;
                }
                @include breakpoint(tablet) {
                    top: -20rem;
                    bottom: 0;
                }
                &:first-child {
                    @include breakpoint(phone) {
                        width: 59.3rem;
                        height: 32.8rem;
                    }
                }
                &:last-child {
                    @include breakpoint(phone) {
                        width: 40.8rem;
                        height: 38rem;
                    }
                }
            }
        }
    }
}
