.b-key-features {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: $c-brand-quarter;
    background: url("#{$pathImages}/features-bg.png"), $c-brand-quarter;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 100vh;
    position: relative;
    @include breakpoint(desktop) {
        padding-top: 10rem;
        padding-bottom: 10rem;
        background-position-y: 80%;
    }
    &__media {
        max-width: 70rem;
        @include breakpoint(tablet) {
            max-width: 65rem;
        }
    }
    h2 {
        text-align: center;
        max-width: 70rem;
        @include center-block;
    }
    &__body {
        position: relative;
        z-index: 10;
    }
    &__media {
        &-stripe {
            display: none;
            @include breakpoint(overPhone) {
                display: block;
            }
            svg {
                position: absolute;
                bottom: -8rem;

                &:last-of-type {
                    bottom: -12.5rem;
                }
            }
            &.mob {
                display: none;
                svg {
                    top: 57.5%;
                    &:last-of-type {
                        top: 58%;
                    }
                }
                @include breakpoint(phone) {
                    display: block;
                }
            }
        }
    }
}
